<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Wanderlush</title>
    <%= stylesheet_link_tag "wanderlush" %>
    <%= javascript_include_tag "jquery-2.1.3.min", "wanderlush" %>
  </head>
  <body>
    <div class="header">
      <h3 class="logo"><%= link_to "Wanderlush", "/#{I18n.locale}/#{I18n.t('paths.home')}" %></h3>
      <%= yield_content :section %>
      <ul>
        <li><%= link_to "EN", get_path("en", current_page.url) %></li>
        <li><%= link_to "DE", get_path("de", current_page.url) %></li>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
