<% content_for :section do %>
  <span class="sep">&gt;</span><h2 class="section berlin"><%= I18n.t("paths.berlin") %></h2>
<% end %>
<div class="bar-list">
  <%= partial "berlin/green-door" %>
  <%= partial "berlin/buck-and-breck" %>
  <%= partial "berlin/lebensstern" %>
  <%= partial "berlin/stagger-lee" %>
  <%= partial "berlin/becketts-kopf" %>
  <%= partial "berlin/schwarze-traube" %>
</div>
