<!-- Load Google Maps API just for this page -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHtprhvaEA82h11n8JFJGO3U9ONOc9mS4"></script>

<div class="map-nav">
  <ul>
    <li><a id="north-america" href="#"><%= I18n.t(:north_america) %></a></li>
    <li><a id="europe" href="#"><%= I18n.t(:europe) %></a></li>
    <li><a id="asia" href="#"><%= I18n.t(:asia) %></a></li>
  </ul>
</div>

<!-- Map is embedded here-->
<div class="map-container">
  <div id="map">
  </div>
</div>

<script type="text/javascript">

  function initialize() {

    /**
     * The main options for the map.
     */
    var options = {
      center: { lat: 52.5167, lng: 13.3833 },
      zoom: 5,
      disableDefaultUI: true,
      scrollwheel: false
    };

    /**
     * The custom styles for the map.
     */
    var styles = [
      {
        "featureType" : "all",
        "elementType" : "labels.text.fill",
        "stylers" : [
          { "color" : "#FFD700" },
          { "weight" : "0.20" },
          { "lightness" : "28" },
          { "saturation" : "23"},
          { "visibility" : "off" }
        ]
      },
      {
        "featureType" : "all",
        "elementType" : "labels.text.stroke",
        "stylers" : [
          { "color" : "#000000" },
          { "lightness" : 5 },
          { "visibility" : "off" }
        ]
      },
      {
        "featureType" : "all",
        "elementType" : "labels.icon",
        "stylers" : [
          { "visibility" : "off" }
        ]
      },
      {
        "featureType" : "administrative",
        "elementType" : "geometry.fill",
        "stylers" : [
          { "color" : "#000000" }
        ]
      },
      {
        "featureType" : "administrative",
        "elementType" : "geometry.stroke",
        "stylers" : [
          { "color" : "#200000" },
          { "lightness" : 14 },
          { "weight" : 1.4 }
        ]
      },
      {
        "featureType" : "landscape",
        "elementType" : "all",
        "stylers" : [
          { "color" : "#500000" }
        ]
      },
      {
        "featureType" : "poi",
        "elementType" : "geometry",
        "stylers" : [
          { "color" : "#600000" },
          { "lightness" : 5 }
        ]
      },
      {
        "featureType" : "road.highway",
        "elementType" : "geometry.fill",
        "stylers" : [
          { "color" : "#000000" }
        ]
      },
      {
        "featureType" : "road.highway",
        "elementType" : "geometry.stroke",
        "stylers" : [
          { "color" : "#830000" },
          { "lightness" : 25 }
        ]
      },
      {
        "featureType" : "road.arterial",
        "elementType" : "geometry.fill",
        "stylers" : [
          { "color" : "#000000" }
        ]
      },
      {
        "featureType" : "road.arterial",
        "elementType" : "geometry.stroke",
        "stylers" : [
          { "color" : "#830000" },
          { "lightness" : 16 }
        ]
      },
      {
        "featureType" : "road.local",
        "elementType" : "geometry",
        "stylers" : [
          { "color" : "#000000" }
        ]
      },
      {
        "featureType" : "transit",
        "elementType" : "all",
        "stylers" : [
          { "color" : "#830000" }
        ]
      },
      {
        "featureType" : "water",
        "elementType" : "all",
        "stylers" : [
          { "color" : "#300000" }
        ]
      }
    ];

    var map = new google.maps.Map($("#map").get(0), options);
    map.setOptions({ styles: styles });

    var markerIcon = {
      path: google.maps.SymbolPath.CIRCLE,
      fillOpacity: 0.6,
      fillColor: "#FFD700",
      strokeOpacity: 1.0,
      strokeColor: "#FFD700",
      strokeWeight: 1.0,
      scale: 7
    };

    /**
     * Create the marker for Berlin.
     */
    var berlin = new google.maps.Marker({
      position : new google.maps.LatLng(52.5167, 13.3833),
      map : map,
      icon: {
        url: "/images/berlin.png",
        size: new google.maps.Size(64, 64),
        scaledSize: new google.maps.Size(32, 32),
        anchor: new google.maps.Point(16, 16)
      }
    });
    google.maps.event.addListener(berlin, "click", function() {
        window.location.href = "<%= "/#{I18n.locale}/#{I18n.t("paths.berlin")}" %>";
    });

    /**
     * Create the marker for London.
     */
    var london = new google.maps.Marker({
      position : new google.maps.LatLng(51.5072, 0.1275),
      map : map,
      icon: {
        url: "/images/london.png",
        size: new google.maps.Size(64, 64),
        scaledSize: new google.maps.Size(32, 32),
        anchor: new google.maps.Point(16, 16)
      }
    });
    google.maps.event.addListener(london, "click", function() {
      window.location.href = "<%= "/#{I18n.locale}/#{I18n.t("paths.london")}" %>";
    });

    /**
     * Create the marker for Amsterdam.
     */
    var amsterdam = new google.maps.Marker({
      position : new google.maps.LatLng(52.3667, 4.9000),
      map : map,
      icon: {
        url: "/images/amsterdam.png",
        size: new google.maps.Size(64, 64),
        scaledSize: new google.maps.Size(32, 32),
        anchor: new google.maps.Point(16, 16)
      }
    });
    google.maps.event.addListener(amsterdam, "click", function() {
      window.location.href = "<%= "/#{I18n.locale}/#{I18n.t("paths.amsterdam")}" %>";
    });

    /**
     * Create the marker for New York.
     */
    var newYork = new google.maps.Marker({
      position : new google.maps.LatLng(40.7127, -74.0059),
      map : map,
      icon: {
        url: "/images/new-york.png",
        size: new google.maps.Size(64, 64),
        scaledSize: new google.maps.Size(32, 32),
        anchor: new google.maps.Point(16, 16)
      }
    });
    google.maps.event.addListener(newYork, "click", function() {
      window.location.href = "<%= "/#{I18n.locale}/#{I18n.t("paths.new-york")}" %>";
    });

    /**
     * Create the marker for Hamburg.
     */
    var hamburg = new google.maps.Marker({
      position : new google.maps.LatLng(53.5653, 10.0014),
      map : map,
      icon: {
        url: "/images/hamburg.png",
        size: new google.maps.Size(64, 64),
        scaledSize: new google.maps.Size(32, 32),
        anchor: new google.maps.Point(16, 16)
      }
    });
    google.maps.event.addListener(hamburg, "click", function() {
      window.location.href = "<%= "/#{I18n.locale}/#{I18n.t("paths.hamburg")}" %>";
    });

    /**
     * Create the marker for Munich.
     */
    var munich = new google.maps.Marker({
      position : new google.maps.LatLng(48.1333, 11.5667),
      map : map,
      icon: {
        url: "/images/munich.png",
        size: new google.maps.Size(64, 64),
        scaledSize: new google.maps.Size(32, 32),
        anchor: new google.maps.Point(16, 16)
      }
    });
    google.maps.event.addListener(munich, "click", function() {
      window.location.href = "<%= "/#{I18n.locale}/#{I18n.t("paths.munich")}" %>";
    });

    /**
     * Create the marker for Vienna.
     */
    var vienna = new google.maps.Marker({
      position : new google.maps.LatLng(48.2000, 16.3667),
      map : map,
      icon: {
        url: "/images/vienna.png",
        size: new google.maps.Size(64, 64),
        scaledSize: new google.maps.Size(32, 32),
        anchor: new google.maps.Point(16, 16)
      }
    });
    google.maps.event.addListener(vienna, "click", function() {
      window.location.href = "<%= "/#{I18n.locale}/#{I18n.t("paths.vienna")}" %>";
    });

    /**
     * Create the marker for Budapest.
     */
    var budapest = new google.maps.Marker({
      position : new google.maps.LatLng(47.4925, 19.0514),
      map : map,
      icon: markerIcon
    });
    google.maps.event.addListener(budapest, "click", function() {
      window.location.href = "<%= "/#{I18n.locale}/#{I18n.t("paths.budapest")}" %>";
    });

    /**
     * Create the marker for Beijing.
     */
    var beijing = new google.maps.Marker({
      position : new google.maps.LatLng(39.9139, 116.3917),
      map : map,
      icon: {
        url: "/images/beijing.png",
        size: new google.maps.Size(64, 64),
        scaledSize: new google.maps.Size(32, 32),
        anchor: new google.maps.Point(16, 16)
      }
    });
    google.maps.event.addListener(beijing, "click", function() {
      window.location.href = "<%= "/#{I18n.locale}/#{I18n.t("paths.beijing")}" %>";
    });

    /**
     * Create the links to specific markers from the sub navigation.
     */
    var northAmerica = $("a#north-america").get(0);
    var europe = $("a#europe").get(0);
    var asia = $("a#asia").get(0);

    google.maps.event.addDomListener(northAmerica, "click", function() {
      map.setCenter(newYork.getPosition());
    });

    google.maps.event.addDomListener(europe, "click", function() {
      map.setCenter(berlin.getPosition());
    });

    google.maps.event.addDomListener(asia, "click", function() {
      map.setCenter(beijing.getPosition());
    });
  }

  google.maps.event.addDomListener(window, "load", initialize);
</script>
